html {
  background: #fafafa;

  color: #111;

  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

::selection {
  background: #222;
  color: white;
}
